/* *? Global variables */
:root {
  --black: #131313;
  --dom-color: #fff;
  --acc-color: #2f424d;
  --sec-color: #0d6ce0;
}

/* * Some default styling */

* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: var(--black);
}

/* * Custom scrollbar */

html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track {
  background: var(--acc-color);
}

html::-webkit-scrollbar-thumb {
  border-radius: 20px;
  height: 10px;
  background: transparent;
  box-shadow: 0px 0px 0px 100vh black;
}

/* *Animations */
#navbar {
  background-color: #000000d0;
}

#home-link {
  font-family: "Quicksand", sans-serif;
  color: #0d6ce0;
  font-size: 20px;
}

#about-link {
  font-family: "Quicksand", sans-serif;
  color: #0d6ce0;
  font-size: 20px;
}

#skills-link {
  font-family: "Quicksand", sans-serif;
  color: #0d6ce0;
  font-size: 20px;
}

#contact-link {
  font-family: "Quicksand", sans-serif;
  color: #0d6ce0;
  font-size: 20px;
}
#home-link:hover,
#skills-link:hover,
#about-link:hover,
#contact-link:hover {
  color: var(--sec-color);
}

/* * The styling for the home section */

#main-header {
  flex: 1;
  font-family: "Spurce Code Pro", monospace;
  margin: 150px 0px 0px auto;
  color: var(--dom-color);
  padding: 30px;
  text-align: center;
}

#pfp_pic {
  top: 50px;
  text-align: center;
  width: 80%;
  margin: 100px auto 30px 50px;
  border-radius: 500px;
  padding: 50px;
  transition: 1s;
}

#pfp_pic:hover {
  transform: translateY(-15px);
}

h3 {
  font-family: "Quicksand", sans-serif;
  margin: 120px auto 0px auto;
  color: var(--dom-color);
  padding: 90px;
  text-align: center;
}

.bold-text:hover {
  color: var(--sec-color);
}

.bold-text {
  transition: 0.8s ease-in-out;
  color: var(--sec-color);
}

/* * The styling for the about me section */

.Skills-text {
  color: var(--sec-color);
  text-align: center;
  text-size-adjust: 20px;
  margin: 10px auto 50px auto;
}

.My-picture {
  width: 50%;
  border-radius: 300px;
  margin-bottom: 20%;
}

@media screen and (min-width: 480px) {
  .My-picture {
    width: 70%;
  }
}

#pic-shaven {
  display: flex;
  justify-content: center;
}

.skills-list {
  font-size: 25px;
  line-height: 2;
  margin: 10% 0 0 -15%;
  top: 20px;
  color: var(--dom-color);
}

@media screen and (min-width: 480px) {
  .skills-list {
    margin: auto;
  }
}
/*  * The styling for the skills section */

#card1 {
  margin: auto;
}

#card2 {
  margin: auto;
}

#card3 {
  margin: auto;
}

#card4 {
  margin: auto;
}

.card {
  margin-bottom: 30%;
  transition: 1s;
}

.card:hover {
  transform: translateY(20px);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* * The styling for the contact form */

#contact-block {
  background-color: black;
  border-radius: 30px;
  height: 20%;
}

#contact {
  margin: auto;
}

.container-contact {
  padding: 30px;
  width: 50%;
}

.products {
  height: 900px;
}

.contact-form {
  height: 800px;
}

.small-t {
  color: black;
  transition: 0.2s;
}

#contact-form-container {
  margin: auto;
}

.btn-sucess,
.btn-sucess:hover,
.btn-sucess:active,
.btn-sucess:visited,
.btn-sucess:focus {
  background-color: var(--acc-color) !important;
  border-color: var(--sec-color) !important;
}
/*  * The styling for the footer section */

.fab {
  margin-top: 1.5%;
  margin-left: 20px;
  color: var(--dom-color);
  transition: 1s;
}

#footer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 60px;
  background-color: #0c0c0c;
  text-align: center;
}

.fa-discord:hover,
.fa-reddit:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-github:hover {
  color: var(--sec-color);
}
